
// Slide In
@keyframes slidein {
    from {
      right: -100%;
    }
  
    to {
      right: 0%;
    }
  }

// Slide Out
@keyframes slideout {
  from {
    right: 0%;
  }

  to {
    right: -100%;
  }
}