@use '../utilities' as *;

p {
    font-size: rem(14);
    line-height: 1.8;

    @include breakpoint(desktop) {
        font-size: rem(16);
    }
}

h1, h2, h3, h4 {
    font-family: 'Merriweather', serif;
    line-height: 1.4;
}

h1 {
    font-weight: 300;
    font-size: rem(35);
    margin-bottom: rem(18);
    
    @include breakpoint(tablet) {
        font-size: rem(48);
    }

    @include breakpoint(desktop) {
        font-size: rem(60);
    }
}

h2 {
    font-weight: 300;
    font-size: rem(26);
    line-height: 1.6;
    margin-bottom: rem(5);

    @include breakpoint(tablet) {
        font-size: rem(35);
    }

    @include breakpoint(desktop) {
        font-size: rem(45);
    }
}

h3 {
    font-weight: 900;
    font-size: rem(20);
    margin-bottom: rem(10);
    letter-spacing: rem(.5);

    @include breakpoint(tablet) {
        font-size: rem(21);
    }

    @include breakpoint(desktop) {
        font-size: rem(26);
    }
}

h4 {
    font-weight: 900;
    font-size: rem(20);
    letter-spacing: rem(.5);
    margin-bottom: rem(5);

    @include breakpoint(tablet) {
        font-size: rem(21);
    }

    @include breakpoint(desktop) {
        font-size: rem(25);
    }
}

h5 {
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: rem(16);

    @include breakpoint(desktop) {
        font-size: rem(18);
    }
}

small {
    font-size: rem(12);
}

a,
a:visited,
a:active {
    font-size: rem(14);
    text-transform: uppercase;
    letter-spacing: rem(3);
    color: var(--white);
    transition: var(--transition-01);
}

a:hover {
    color: var(--salmon);
}