@use '../utilities' as *;

:root {
    --white: #ffffff;
    --light-grey: #f8f8f8;
    --mid-grey: #bcbcbc;
    --salmon: #ef574a;
    --dark-salmon: #d64f43;
    --grey-black: #292929;
    --black: #000000;

    --transition-01: all 0.3s ease-in;

    --margin-mobile: rem(85);
    --margin-desktop: rem(110);

    --padding-mobile: rem(85);
    --padding-desktop: rem(110);
}