@use '../utilities' as *;

:root {
    --white: #ffffff;
    --light-grey: #f8f8f8;
    --mid-grey: #bcbcbc;
    --salmon: #ef574a;
    --dark-salmon: #d64f43;
    --grey-black: #292929;
    --black: #000000;

    --transition-01: all 0.3s ease-in;

    --margin-mobile: 60px;
    --margin-tablet: 5.625rem;
    --margin-desktop: 6.875rem;

    --padding-mobile: 60px;
    --padding-tablet: 5.625rem;
    --padding-desktop: 6.875rem;
}