@use '../utilities' as *;

// Hamburger Btn
.hamburger {
    position: relative;
    z-index: 2;
    padding: 0;

    @include breakpoint(desktop) {
        display: none;
    }

    &__box {
        padding: 0;
        width: rem(30);
    }

    &__inner,
    &__inner::before,
    &__inner::after {
        width: rem(30);
        height: rem(2);
        padding: 0;
        background-color: var(--white);  
    }
}

.btn {
    padding: rem(10) rem(20);
    margin-bottom: rem(15);
    font-size: 16;
    font-weight: 700;
    letter-spacing: rem(3);
    text-transform: uppercase;
    color: var(--grey-black);
    background-color: var(--white);
    border: var(--black) rem(1) solid;
    border-radius: rem(50);
    cursor: pointer;
    transition: var(--transition-01);

    @include breakpoint(tablet) {
        padding: rem(10) rem(40);
    }
}

.btn:hover {
    color: var(--white);
    background-color: var(--black);
}
