@use '../utilities' as *;

.header {  
    position: fixed;
    top: 0;
    height: rem(65);
    width: 100%;
    z-index: 99;

    @include breakpoint(desktop) {
		border-bottom: rem(.5) solid var(--white);
        z-index: 3;
	}
     
    &__content {
        position: relative;     
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: rem(65);
    }

    &__logo {
        position: relative;
        z-index: 4;
        height: rem(30);  
    }

    &__logo:hover {
        opacity: .8;
    }

    .hamburger {
        z-index: 4;
    }

    &__underline {
        position: absolute;
        z-index: 4;
        top: rem(65);
        left: rem(0);
        width: 100%;
        border: rem(.5) solid var(--white);
        
        @include breakpoint(desktop) {
            display: none;
        }
        
    }
}


