@use '../utilities' as *;

.menu {
    padding: var(--padding-mobile) 0;

    @include breakpoint(tablet) {
        text-align: center;
    }

    &__body {
        margin-bottom: rem(40);
    }

    &__btns .btn:not(:last-child) {
        margin-right: rem(10);
        margin-bottom: rem(60);
    }

    &__grid {
        position: relative;
        display: grid;
        grid-row-gap: rem(25);

        @include breakpoint(tablet) {    
            grid-template-columns: 1fr 1fr;
            grid-template-rows: auto;  
            grid-column-gap: rem(60);
        }

        @include breakpoint(desktop) {
            grid-column-gap: rem(150);
        }

    }

    &__grid::after {

        @include breakpoint(desktop) {
            content: '';
            position: absolute;
            top: 0;
            left: 50%;
            height: 100%;
            width: rem(1);
            background-color: var(--mid-grey);
        }
    }

    &__item {
        display: flex;
        justify-content: space-between;
        padding: rem(30);
        text-align: left;
        border: var(--mid-grey) rem(1) solid;

        @include breakpoint(desktop) {
            flex-direction: row-reverse;
        }
    }


    &__col-1 {
        max-width: rem(250);
    }

    &__icons {
        display: flex;
        height: rem(35);
        margin-top: rem(20);
    }

    &__icons img:not(:last-child) {
        margin-right: rem(5);
    }

    &__col-2 {
        display: flex;
        align-items: flex-end;
        margin-left: rem(20);

        @include breakpoint(desktop) {
            height: 100%;   
            padding: rem(10) rem(50);
            margin-left: unset;
            background-color: var(--grey-black);
        }

    }

    &__img {
        max-width: rem(60);
    }

}